*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 400;
}
body {
    font-family: 'Poppins', sans-serif;
    background-color: #222549;
    overflow-x: hidden;
}
/* Inico y Header */
section {
    padding: 10vh 10vw;
}
.inicio {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 4vh 9vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
    transition: 0.3s;
}
header .logo {
    font-size: 2em;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    padding: 0 1vw;
}
header .logo span {
    color: #bbbeef;
    font-weight: 700;
}
/* Navbar */
header .navbar {
    position: relative;
    display: flex;
}
header .navbar li {
    list-style: none;
    padding-left: 3vw;
}
header .navbar li a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    font-size: 0.9em;
    padding: 1vh 1vw;
    transition: 0.3s;
    text-transform: uppercase;
}
header .navbar li a:hover {
    color: #bbbeef;
}
/* Contenido */
.contenido {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 3vw;
}
.contenido .tituloBox {
    position: relative;
    max-width: 60vw;
}
.contenido .tituloBox h2 {
    font-size: 3em;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    line-height: 1.5;
}
.contenido .tituloBox h2 span {
    color: #bbbeef;
    font-weight: 800;
}
.contenido .tituloBox h3 {
    font-weight: 800;
    font-size: 1.5em;
    color: #fff;
    margin-bottom: 1.5vh;
}
.contenido .tituloBox p {
    color: #fff;
    margin-bottom: 5vh;
}
.contenido .tituloBox a {
    border: 1px solid #bbbeef;
    padding: 10px 20px;
    background-color: transparent;
    text-decoration: none;
    transition: 0.3s;
    text-transform: uppercase;
    color: #bbbeef;
}
.contenido .tituloBox a:hover {
    background-color: #bbbeef;
    color: #222549;
}
.contenido .imgBox {
    width: 60vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenido .imgBox img {
    width: 270px;
    box-shadow: 50px 50px 0 0 #bbbeef;
}
/* Servicios */
.servicios {
    background-color: #31356b;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.titulo {
    font-size: 2em;
    font-weight: 800;
    color: #bbbeef;
    text-align: center;
    margin-bottom: 10px;
}
.textBox {
    width: 55vw;
    position: relative;
}
.textBox p {
    text-align: center;
    color: #fff;
    margin-bottom: 30px;
}
.servicios .cards {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 80px;
    padding-top: 30px;
}
.servicios .cards .card {
    background-color: #222549;
    padding: 30px;
    text-align: center;
    color: #fff;
    width: 350px;
    height: 300px;
}
.servicios .cards .card .iconoCard {
    font-size: 4em;
}
.servicios .cards .card .tituloCard h2 {
    font-weight: 700;
    margin-bottom: 10px;
}
/* Portfolio */
.portfolio {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.portfolio .cardPortfolio {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 80px;
    margin-bottom: 3vh;
}
.portfolio .cardPortfolio .card {
    text-align: left;
    color: #fff;
    width: 500px;
    height: 300px;
    padding: 30px;
}
.portfolio .cardPortfolio .card .cardImg {
    width: 400px;
}
.portfolio .cardPortfolio .card .cardImg img {
    width: 100%;
}
.portfolio .cardPortfolio .card p {
    font-size: 1em;
}
.portfolio .cardPortfolio .card p span {
    font-weight: 800;
}
.portfolio .cardPortfolio .card a {
    color: #bbbeef;
    text-decoration: none;
    font-weight: 500;
}
/* Testimonios */
.testimonios {
    position: relative;
    background-color: #31356b;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.testimonios .cardTestimonios {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.testimonios .cardTestimonios .card {
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 30px;
}
.testimonios .cardTestimonios .card .cardImg {
    position: relative;
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
    overflow: hidden;
    box-shadow: 15px 15px 0 0 #bbbeef;
}
.testimonios .cardTestimonios .card .cardImg img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.testimonios .cardTestimonios .card .tituloCard h2 {
    color: #bbbeef;
    font-weight: 700;
}
.testimonios .cardTestimonios .card .contenidoCard {
    width: 400px;
}
.testimonios .cardTestimonios .card .contenidoCard p {
    color: #fff;
    font-weight: 400;
    font-style: italic;
}
/* Contacto */
.contacto {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.contacto .cardContacto {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.contacto .cardContacto .card {
    position: relative;
    width: 300px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #31356b;
    padding: 30px;
    margin: 30px;
    color: #fff;
}
.contacto .cardContacto .card .iconoCard {
    color: #bbbeef;
    padding-right: 15px;
    font-size: 1.5em;
}
.contacto .cardContacto .card .contenidoCard p {
    font-weight: 600;
}